

.cell_container {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, darkgrey, 5, 0, 0, 7);
}

.trans_txt_container {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-spacing: 5;
}

.trans_date_lbl {
    -fx-text-fill: grey;
    -fx-font-weight: 700;
}
.trans_pAddress_lbl {
    -fx-pref-width: 80;
     -fx-font-weight: 700;
}

.cell_container Line {
    -fx-stroke: darkgrey;
}

.trans_amount_lbl {
    -fx-background-color: darkblue;
    -fx-background-radius: 2;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-font-weight: 700;
}